.nav {
    background-image: linear-gradient(#294900 0%, #00521b 50%, #00351f 100%);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 2rem;
}

.siteTitle {
    font-size: 2rem;
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.tabsList {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.tab {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}


.tabContainerActive {
    background-image: linear-gradient(to right, #172900 0%, #013512 50%, #172900 100%);
    padding: .25rem;
}

.tabContainer:hover {
    background-color: #777;
}